# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/
*.iml
*.iws
*.ipr
.idea/
.vscode/
*.log

# Android
android/.gradle/
android/local.properties
android/app/release/
android/app/debug/
android/app/profile/
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Environment
.env
.env.local
